{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{% static 'executor/css/styles.css' %}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</head>
<body class="sb-nav-fixed">
    {% include 'headeradmin.html' %}
    <div id="layoutSidenav">
        {% include 'sidebaradmin.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">STUDENT</h1>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            TOTAL STUDENT
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Stu_id</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Division</th>
                                        <th>Enrollment_no</th>
                                        <th>Email</th>
                                        <th>Roll_no</th>
                                        <th>Course</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in Show %}
                                    <tr>
                                        <td>{{ i.stu_id }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.age }}</td>
                                        <td>{{ i.div }}</td>
                                        <td>{{ i.enroll }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.roll_no }}</td>
                                        <td>{{ i.course_id.course_name }}</td>
                                        <td>
                                            <form method="POST" action="{% url 'edit_student_data' %}">
                                                {% csrf_token %}
                                                <input type="hidden" id="hid" name="id" value="{{ i.stu_id }}">
                                                <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                            </form>
                                            <form action="{% url 'delete_student' %}" method="post" style="display:inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="hid" name="id" value="{{ i.stu_id }}">
                                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Stu_id</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Division</th>
                                        <th>Enrollment_no</th>
                                        <th>Email</th>
                                        <th>Roll_no</th>
                                        <th>Course</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            {% include 'footeradmin.html' %}
        </div>
    </div>
  
    <script src="{% static 'executor/js/datatablesSimple.js' %}"></script>
</body>
</html>
